@model IEnumerable<Project.Models.Absence>


@{

    ViewData["Title"] = "Home Page";
}
<body>


<section>
<h4>Liste des absents</h4>
<hr />


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nomet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prenomet)
            </th>
           
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Etudiant</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nomet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenomet)
            </td>
         
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.id"><i class="fa fa-marker fa-lg"></i></a>
                <a asp-action="Delete" asp-route-id="@item.id" class="text-danger ml-1" onclick="return confirm('Voulez-vous vraiment supprimer?')"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

</section>
</body>


